p {
  margin: 0;
}

.card {
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 5% auto;
  padding: 16px;
  width: 336px;
}

.card__image {
  border-radius: 16px;
  max-width: 100%;
  margin-bottom: 20px;
}

.card__tag {
  background-color: #e6d6fc;
  border-radius: 16px;
  display: block;
  color: #883ae1;
  font-size: 10px;
  text-align: center;
  padding: 4px 16px;
  width: 40px;
}

.card__title {
  font-size: 18px;
  margin: 16px 0 6px;
}

.card__details {
  color: #6c727f;
  border-bottom: 1px solid #6c727f;
  font-size: 14px;
  padding-bottom: 20px;
}

.card__footer {
  color: #6c727f;
  font-size: 12px;
  padding: 20px 0 4px;
}
